@import '../../Themes/TOMThemeVariables.scss';

.drag-drop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 2px solid #d1d5db;
    border-radius: 1rem;
    background-color: #f9fafb;
    width: 100%;
    max-width: 400px;
    margin: auto;
    gap: 5px;
  
    .upload-instructions {
      color: #4b5563;
      margin: 5px 0px;
      text-align: center;
  
      &.drag-active {
        color: #2563eb;
      }
    }
  
    .drop-area {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      width: 100%;
      background-color: #f3f4f6;
      border-radius: 1rem;
      border: 2px dashed #d1d5db;
      cursor: pointer;
      transition: background-color 0.3s ease, border-color 0.3s ease;
      text-align: center;

      .cloud-icon {
        font-size: 2.2rem;
      }
  
      &:hover {
        background-color: #e5e7eb;
        border-color: #a1a1aa;
      }
  
      &.active {
        background-color: #e0f7fa;
        border-color: #64b5f6;
      }
    }
  
  .upload-btn {
    padding-top: 10px;
    width: 100%;
    background-color: $tom-blue;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: $tom-blue;
    }

    &:disabled {
      background-color: #d1d5db;
      cursor: not-allowed;
    }
  }
}

.file-cards-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;

  .file-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 6px;
    width: 100%;

    .delete-icon {
      &:hover {
        background-color: transparent;
      }
    }
  }
}

  