@import '../../Themes/TOMThemeVariables.scss';

.css-1sau0hs-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
    color: $tom-blue !important;
}

.modal {
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .modal-stepper {
        width: 50%;
        margin: auto;
        height: 4%;
    }

    .modal-content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 86%;
    }

    .alert {
        margin: 5px 0px;
        width: fit-content;
        align-self: center;
    }

    .modal-footer {
        display: flex;
        flex-direction: row;
    }

}

.cancel-button {
    color: rgb(123, 0, 0) !important;
    background-color: rgba(123, 0, 0, .1) !important;
    &:hover {
        background-color: rgba(123, 0, 0, .15) !important;
    }
}

.proceed-button {
    color: $tom-blue !important;
    background-color: rgba(1, 145, 183, .1) !important;
    &:hover {
        background-color: rgba(1, 145, 183, .2) !important; 
    }
}