@import '../../Themes/TOMThemeVariables.scss';

.members-container {
    display: flex;
    flex-direction: column;

    .sorting-section {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }

    .sort-group {
        margin-bottom: 5px;
    }

}

.selected {
    background-color: rgba(1, 145, 183, 1) !important;
}

.unselected {
    background-color: rgba(1, 145, 183, .7) !important;
    &:hover {
        background-color: rgba(1, 145, 183, .75) !important; 
    }

}

.lettergroups-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}