@import '../../Themes/TOMThemeVariables.scss';

.breadcrumb-link {
    cursor: pointer;
}

.selector-centering {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.activity-page-container {
    display: flex;
    flex-direction: row;
    padding: 1% 1% 0;
    justify-content: flex-start;
    width: 100%;
    gap: 50px;

    // Sidebar
    .sidebar-container {
        display: flex;
        flex-direction: column;
        flex-basis: 25%;
        min-width: 0;
        gap: 10px;
        overflow: hidden;
        transition: flex-basis 0.3s ease-in-out;

        &.collapsed {
            flex-basis: 5%;
        }

        &.open {
            min-width: 260px;
            transition: 0.3s ease;
        }

        .toggle-button {
            transition: 0.3s ease;
        }

        .motion-container {
            position: relative;
            height: 100%;
            width: 260px;
            transform: translateX(-100%);
            transition: transform 0.3s ease;

            &.open {
                transform: translateX(0%);
            }
        }
    }

    // Content Section
    .content-section {
        flex-basis: 100%;
        transition: flex-basis 0.3s ease;

    }

    // Shared Background Card Style
    .background-card {
        background-color: $accent-white;
        padding: 15px;
        border-radius: 9px;
        box-shadow: 0 0 5px gainsboro;
        height: fit-content;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;

        &.visible {
            opacity: 1;
            pointer-events: auto;
        }
    }

    // Activity Content
    .activity-container {
        display: flex;
        flex-direction: column;
        flex: 1;


        .header {
            padding: 20px;
        }
    }

    // Submission Container
    .submission-container {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: auto;
        gap: 5px;
    }
}



.links-container {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
