.light {
    background-color: rgb(223, 215, 185) !important;
}

.dark {
    background-color: rgb(225, 206, 138) !important;
}

.member-card-content {
    display: flex;
    flex-direction: row;
    

    .table-section {
        width: 20%;
    }
}