.input-info-container {
    height: 90%;
    width: 100%;
    overflow: scroll;
    padding: 10px;

    .input-info-section {
        padding: 5px 0px 5px 0px;

        .input-box {
            width: 90%;
        }

        .other-email-section {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
        }
    }

    

    .selector-centering {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: center;
    }

    .delete-icon {
        height: fit-content;
        width: fit-content;
        margin: 15px 0px 0px 5px;
    }

    .email-textfield {
        padding-top: 5px;
    }

    .add-email-button {
        display: flex;
        align-items: center;

        .add-other {
            margin-top: 5px;
        }
    }
}

.confirm-section {
    padding: 8px 0px;
}

.image-upload-section {
    display: flex;
    flex-direction: row;
}

.italics {
    font-style: italic;
}

.indent {
    padding-left: 15px;
}

