.page-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;    


    .header {
        width: fit-content;
    }
}

.activity-page-section {
    padding-top: 15px;
}

.non-clickable {
    cursor: default !important;
}

.filter-bar {
    display: flex;
    flex-direction: row;
}

.search-input {
    .search-icon {
        cursor: text;
        padding: 0px;
    }
    .css-2u11ia-MuiInputBase-input-MuiOutlinedInput-input {
        padding: 9px 8px 9px 5px;
    }
}